.TodoListItem {
  $sizeWH : 30px;
  display:flex;
  position:relative;
  button { 
    display:inline-block;
  }
  .checkbox {
    flex-grow: 1;
    position:relative;
    padding-left:20px;
    border:none;
    background:transparent;
    font-size:14px;
    text-align:left;
    &.checked {
      &:before {
        display:block;
        position:absolute;
        left:0;
        content:"✅";
      }
    }
    & span {
      display:inline-block;
    }
  }
  .user{
    min-width:100px;
  }
  .text { 
    padding:0 10px;
  }
  .update {
    display:inline-block;
    width:$sizeWH;
    height:$sizeWH;
  }
  .remove{
    position:relative;
    width:$sizeWH;
    height:$sizeWH;
    border-radius:5px;
    background:transparent;
    text-indent:-9999px;
    &::before, &::after {
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      width:80%;
      height:1px;
      margin-left:-40%;
      background:red;
      content:"";
    }
    &::before {
      transform: rotate(135deg) translateX(0%);
    }
    &::after {
      transform: rotate(45deg) translateX(0%);
    }
    &:hover {
      background:#111;
      &::before, &::after{
        background:#fff;
      }
    }
  }
  .TodoListItem__edit{
    display:flex;
    position:absolute;
    top:0;
    left:0;
    width:calc(100% - (#{$sizeWH} * 2));
    height:100%;
    padding:0 20px;
    border:1px solid #dbdbdb;
    background:#000e4c;
    font-size:14px;
    text-align:left;
    box-sizing:border-box;
    &-input {
      flex-grow:1;
      position:relative;
      padding:0 10px;
      height:100%;
      padding:3px 10px;
      background:transparent;
      font-size:14px;
      box-sizing:border-box;
      border:none;
      color:#fff;
      &::placeholder { 
        color:#fff;
      }
      &:first-child {
        margin-left:0;
        border-right:1px solid #dbdbdb;
      }
    }
    &-user {
      display:inline-block;
      position: relative;
      min-width:100px;
      padding:3px 0;
      color:#dbdbdb;
      &::after {
        display:block;
        position:absolute;
        top:0;
        right:0;
        width:1px;
        height:100%;
        background:#fff;
        content:"";
      }
    }
  }
}